@charset "UTF-8";

html {
  margin: 0;
  padding:0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
 }

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  text-decoration: none; 
  transition: all .6s ease;
}

a:hover { 
  transition: all .6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

.header {
    display:-ms-flexbox;
    display:-webkit-flex;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 1;
}

.header h1 {
    margin: 0 0 0 25px;
    font-size: 2.5rem;
    color: #ffd700;
}

.header nav ul {
    display:-ms-flexbox;
    display:-webkit-flex;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.header nav ul li {
    margin: 0 20px;
}

header nav li a {
    color: #000;
    text-decoration: underline; 
}

header nav li a:hover {
    opacity: 0.6;
}

.header nav li.phone {
    margin: 0 30px 0 10px;
    padding: 0 25px;
    border: 1px solid #000;
    line-height: 50px;
    display: block;
    color: #000;
}

.header nav li.phone i {
    letter-spacing: 5px;
}

.slide {
    position: relative;
    overflow: hidden;
    height: 50vw;
    object-fit: cover;
    object-position: 0 15%;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
}

.slide img {
    display: block;
    position: absolute;
    animation: slideAnime 16s ease infinite;
}

.slide .slide02 {
  top: -20%;
}

.slide .slide03 {
  top: -70%;
}

.slide .slide04 {
  top: -20%;
}

.slide img:nth-of-type(1) { 
    animation-delay: 0s 
}
.slide img:nth-of-type(2) { 
    animation-delay: 4s 
}
.slide img:nth-of-type(3) { 
    animation-delay: 8s 
}
.slide img:nth-of-type(4) { 
     animation-delay: 12s 
}

@keyframes slideAnime{
  0%{
    left: 100%;
  }
  3%{
    left: 0;
  }
  22%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  100%{
    left: -100%;
  }
}

.topics {
  padding: 120px;
}

.topics .content-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.topics .heading{
  width: 35%;
}

.topics .content {
  width: 65%;
}

.topics .content table {
  width: 100%;
  margin: 0 0 25px 0;
}

.topics .content th {
  padding:20px 2em 20px 0;
  border-bottom: 1px dotted;
}

.topics .content td {
  border-bottom: 1px dotted;
}

.topics .content tr:last-of-type th,
.topics .content tr:last-of-type td {
  border-bottom: none;
}

.topics .content .btn {
  margin: 0;
}

.topics .content .btn a {
  display: block;
  font-size: 0.8rem;
  color: #000;
  border: 1px solid #000;
  width: 200px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 0 auto;
}

.topics .content .btn a:hover {
  background: #333;
  color: #fff;
}

.institution {
  background: url(../images/image02.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.institution::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.institution .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.institution h2 {
  color: #fff;
  text-align: left;
}

.institution p {
  color: #fff;
  text-align: left;
  margin-bottom: 70px;
}

.institution p.btn {
  margin: 0;
}

.institution p.btn a {
  color: #fff;
  display: block;
  font-size: 0.875rem;
  border: 1px solid #fff;
  width: 200px;
  line-height: 60px;
  text-align: center;
}

.institution p.btn a:hover {
  background: #fff;
  color: #333;
}

.recruit {
  padding: 10% 0;
  position: relative;
}

.recruit::after {
  content: "";
  background-color: #f3f3f3;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(-30deg);
  z-index: -1;
}

.recruit ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: skewY(2deg);
}

.recruit ul li {
  width: 48%;
  position: relative;
}

.recruit ul li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 43%;
  background: rgba(50, 50, 50, 0.7);
  z-index: 1;
  transform: all .6s ease;
}

.recruit ul li a:hover figure::after {
  background: rgba(50, 50, 50, 0.4);
  transform: all .6s ease;
}

.recruit li span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) skewY(-2deg);
  z-index: 2;
  color: #fff;
  font-size: 3rem;
  text-align: center; 
}

.contact {
  width: 100%;
  height: 500px;
  background: url(../images/image05.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
}

.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.contact ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.contact li {
  width: 300px;
  margin: 0 50px;
}

.contact li a {
  border: 1px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
}

.contact li a:hover {
  background: #fff;
  color: #333;
}

.footer section {
  padding: 120px 120px 20px 120px;
}

.footer .high {
  border-bottom: 1px solid #333;
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
}

.footer .high hq {
  font-size: 1.5rem;
}

.footer .high ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  margin-bottom: 25px;
}

.footer .high li a {
  color: #333;
  padding: 0 25px;
}

.footer .high li a:hover {
  opacity: 0.6;
}

.footer .low {
  padding: 25px 0 80px 0;
  color: #333;
}

.footer .low span {
  padding-left: 1em;
}

.footer section p {
  color: #333;
  text-align: center;
  font-size: 0.75rem;
}
@media screen and (max-width: 1199px) {
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 26px;
        cursor: pointer;
    }

    header nav {
        display: none;
    }

    .nav-button,
    .nav-botton span {
        display: inline-block;
    }

    .nav-button {
        position: relative;
        width: 30px;
        height: 26px;
    }

    .nav-button span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
    }

    .nav-button span:nth-of-type(1) {
        top: 0;
    }

    .nav-button span:nth-of-type(2) {
        top: 11px;
    }

    .nav-button span:nth-of-type(3) {
        bottom: 0;
    }

    .mainvisual img {
        height: auto;
    }

    .topics {
      padding: 50px 5vw;
    }

    .topics .content-wrapper {
      display: block;
    }

    .topics .headeing {
      width: 100%;
    }

    .topics .header h2 {
      text-align: center;
    }

    .topics .content{
      width: 100%;
    }
}

@media screen and (max-width: 767px) {
  .topics {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }

  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }

  .recruit ul {
    transform: none;
  }

  .recruit li span {
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .topics .content th {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }

  .topics .content td {
    display: block;
    width: 100%;
  }

  .institution .content {
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .institution h2,p {
    text-align: center;
  }

  .institution p.btn a {
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
  }

  .recruit ul li {
    width: 90%;
    margin: 0 auto 20px auto;
  }
}